.voice-footer-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.voice-footer-mic {
  width: 60px;
  height: 60px;
  background-color: #000000;
color: #ffffff;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
