.chat-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 40px);
  max-width: 1200px;
  height: 520px;  

  background: transparent;  
  box-shadow: none;
  border: 2px solid black;  

  display: flex;
  flex-direction: column;

  z-index: 900;


  min-width: calc(100% - 40px);
  max-width: 1200px;
  min-height: 520px;
  max-height: 520px;


  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 16px;
}
